---
version: '3.7'
services:
  node:
    container_name: '{{ go_waku_cont_name }}'
    image: '{{ go_waku_cont_image }}'
    labels:
      # auto-updating of docker image
      com.centurylinklabs.watchtower.enable: 'true'
    deploy:
      resources:
        limits:
          cpus: '{{ go_waku_cpu_limit | float }}'
          memory: '{{ go_waku_mem_limit }}M'
        reservations:
          memory: '{{ go_waku_mem_reserve }}M'
      restart_policy:
        condition: '{{ go_waku_restart_condition }}'
    environment:
      GOLOG_LOG_FMT: '{{ go_waku_log_format }}'
    volumes:
      - '{{ go_waku_cont_vol }}/data:/data'
{% if go_waku_websocket_secure_enabled %}
      - '{{ go_waku_websocket_ssl_dir }}:{{ go_waku_websocket_ssl_dir | mandatory }}'
{% endif %}
    ports:
{% if go_waku_rpc_enabled %}
      - '{{ go_waku_rpc_address }}:{{ go_waku_rpc_port }}:{{ go_waku_rpc_port }}/tcp'
{% endif %}
      - '{{ go_waku_libp2p_port }}:{{ go_waku_libp2p_port }}/tcp'
      - '{{ go_waku_metrics_port }}:{{ go_waku_metrics_port }}/tcp'
      - '{{ go_waku_websocket_port }}:{{ go_waku_websocket_port }}/tcp'
      - '{{ go_waku_disc_v5_port }}:{{ go_waku_disc_v5_port }}/udp'
      - '{{ go_waku_websocket_secure_port }}:{{ go_waku_websocket_secure_port }}/tcp'
    command: |
      --nodekey={{ go_waku_node_key | mandatory }}
      --log-level={{ go_waku_log_level }}
      --port={{ go_waku_libp2p_port }}
      --ext-ip={{ go_waku_public_address }}
      --dns4-domain-name={{ go_waku_dns4_domain_name }}
      --relay={{ go_waku_relay_enabled | bool | to_json }}
      --store={{ go_waku_store_enabled | bool | to_json }}
{% if go_waku_store_enabled %}
      --store-message-db-url=sqlite3:///data/store.db
      --store-message-retention-capacity={{ go_waku_store_capacity }}
      --store-message-retention-time={{ go_waku_store_duration }}
{% for node in go_waku_store_nodes %}
      --store-node={{ node }}
{% endfor %}
{% endif %}
      --filter={{ go_waku_filter_enabled | bool | to_json }}
{% if go_waku_filter_enabled %}
{% for node in go_waku_filter_nodes %}
      --filter-node={{ node }}
{% endfor %}
{% endif %}
      --lightpush={{ go_waku_lightpush_enabled | bool | to_json }}
{% if go_waku_lightpush_enabled %}
{% for node in go_waku_lightpush_nodes %}
      --lightpush-node={{ node }}
{% endfor %}
{% endif %}
      --dns-discovery={{ go_waku_dns_disc_enabled | bool | to_json }}
{% if go_waku_dns_disc_enabled %}
      --dns-discovery-url={{ go_waku_dns_disc_url | mandatory }}
{% endif %}
      --discv5-discovery={{ go_waku_disc_v5_enabled | bool | to_json }}
{% if go_waku_disc_v5_enabled %}
      --discv5-udp-port={{ go_waku_disc_v5_port }}
{% for node in go_waku_disc_v5_bootstrap_nodes %}
      --discv5-bootstrap-node={{ node }}
{% endfor %}
{% endif %}
      --rpc={{ go_waku_rpc_enabled | bool | to_json }}
{% if go_waku_rpc_enabled %}
      --rpc-port={{ go_waku_rpc_port }}
      --rpc-address=0.0.0.0
      --rpc-admin={{ go_waku_rpc_admin_enabled | bool | to_json }}
      --rpc-private={{ go_waku_rpc_private_enabled | bool | to_json }}
{% endif %}
      --metrics={{ go_waku_metrics_enabled | bool | to_json }}
{% if go_waku_metrics_enabled %}
      --metrics-port={{ go_waku_metrics_port }}
      --metrics-address=0.0.0.0
{% endif %}
      --websocket-support={{ go_waku_websocket_enabled | bool | to_json }}
{% if go_waku_websocket_enabled %}
      --websocket-port={{ go_waku_websocket_port }}
{% endif %}
      --websocket-secure-support={{ go_waku_websocket_secure_enabled | bool | to_json }}
{% if go_waku_websocket_secure_enabled %}
      --websocket-secure-port={{ go_waku_websocket_secure_port }}
      --websocket-secure-key-path={{ go_waku_websocket_ssl_key | mandatory }}
      --websocket-secure-cert-path={{ go_waku_websocket_ssl_cert | mandatory }}
{% endif %}
{% for node in go_waku_static_nodes %}
      --staticnode={{ node }}
{% endfor %}
      --resource-scaling-memory-percentage={{ go_waku_resource_scaling_memory_percentage | float }}
      --resource-scaling-fd-percentage={{ go_waku_resource_scaling_fd_percentage | float }}
